<div>
    <div class="page-header">
        <h3>{{title}}</h3>
    </div>

    <form class="form-inline">
        <div class="form-group">
            <label>请选择：</label>
            <select class="form-control" ng-model="selectedId" ng-change="changeId(selectedId);">
                <option style="display: none;">所有区</option>
                <option ng-repeat="item in regionLists" value="{{item.Id}}">{{item.Name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>关键词：</label>
            <input class="form-control" type="text" ng-model="keyword"/>
        </div>
        <button class="btn btn-primary" ng-click="search();">搜索</button>
        <button class="btn btn-primary pull-right" type="button" ng-click="addPart();">新增分馆</button>
    </form>

    <div ng-repeat="item in libraryLists" class="panel panel-info">
        <div class="panel-heading">
            <span style="cursor: pointer;">{{item.Name}}</span> <a href="#/editPart/{{item}}" class="text-primary pull-right" style="cursor: pointer;">修改</a>
        </div>
        <div class="panel-body">
            电话：<span class="text-primary">{{item.ContactPhone}}</span>
        </div>
        <div class="panel-footer">
            地址：<span class="text-primary">{{item.Address}}</span>
        </div>

    </div>
</div>