<div>
    <div class="page-header">
        <h3>{{title}}</h3>
    </div>

    <form class="form-inline">
        <a class="btn btn-primary pull-right" href="#/addAuthor">新增</a>
    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>序号</th>
                <th>头像(点击查看)</th>
                <th>姓名</th>
                <th>拼音</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr id="trAuthor" ng-repeat="item in authorLists">
                <td>{{$index + 1}}</td>
                <td><img class="header" ng-src="{{item.Header}}" width="50" data-action="zoom" onload="$('[data-toggle=popover]').popover();"/></td>
                <td>{{item.Name}}</td>
                <td>{{item.Pinyin}}</td>
                <td><a class="btn btn-sm btn-primary" data-trigger="focus" tabindex="0" role="button" data-container="body" title="{{item.Name}}" data-content="{{item.Introduce}}" data-toggle="popover" data-placement="left">简介</a><a href="#/editAuthor/{{item.Id}}" class="btn btn-sm btn-warning">修改</a></td>
            </tr>
        </tbody>
    </table>
</div>