<div>
    <div class="page-header">
        <h3>{{title}}</h3>
    </div>
    <form class="form-inline">
        <div class="form-group">
            <label>关键字:</label>
            <input class="form-control" type="text"/>
        </div>
        <button class="btn btn-primary">查找</button>

        <button class="btn btn-primary pull-right">添加</button>
    </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>序号</th>
                <th>读者姓名</th>
                <th>身份证号</th>
                <th>手机号码</th>
                <th>家庭住址</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in readerLists">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.CardId}}</td>
                <td>{{item.Phone}}</td>
                <td>{{item.Address}}</td>
                <td><button class="btn btn-sm btn-danger">删除</button><button class="btn btn-sm btn-primary">编辑</button></td>
            </tr>
        </tbody>
    </table>

</div>